body {
    background-color: #F8F6F6;
    font-family: Verdana, Geneva, sans-serif;
}
h1 {
    color: #9B9B9B;
    width: 222px;
    float:left;
    margin-left: 10px;
}
#content {
    color: #707070;
    width: 525px;
    height:200px;
    margin-left: 10px;
    margin-top: 10px;
}
#middle img {
    position: relative;
    margin-left: 110px;
}

#middle {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;   
}
td, th {
    font-weight: bold;
    background: #FFFFFF;
    border-top: 4px solid #F0F0F0;
    border-bottom: 1px solid #fff;
    color: #C9C9C9;
    padding: 8px;
    width: 180px;
}
a {
    text-decoration: none;   
}